#test {
    height: 80px;
    width: 45px;
    background-color: teal;
    display: inline-block;
    border: black 5px solid;
    margin-left: auto;
    margin-right: auto;
}
#gameBoard{
    background-color: green;
    border: brown 5px solid;
    height: 300px;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}
.hand {
    display: inline-block;
    margin: 10px;
    border: black 6px solid;
    background-color: brown;
    height: 110px;
    width: 75px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    overflow: hidden;
}
.cardImage{
    height: 105px;
    width: 69px;
}
#score{
    font-size: 75px;
    color: red;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding: 5px;
}
.scoreAndButton{
    height: 30px;
    display: inline-block;
}
#gameButton{
    background-color: yellow;
    width: 150px;
    font-size: 50px;
    border: black 3px solid;
}
#gameButton:hover{
    background-color: crimson;
    border: white 3px solid;
}